*{
    margin: 0%;
    padding: 0%;
    font-family: 'public sans' ; sans-serif;
}
body{
    display: flex;
}
li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}
ul{
    backdrop-filter: blur 2rem;
    height: 2.8rem;
    background: white;
}
.list{
    align-items: start;
}

